body {
    background-image: url('./assets/bolo3.avif');
    background-size: cover;
}

#page{
    box-sizing: border-box;
    width: 800px;
    padding: 42px;
    background-color: #d87ca7;
    border-radius: 24px;
    margin: 48px auto;
}

img {
    border-radius: 16px;
    
}